name: Publish NuGet Package

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

env:
  DOTNET_NOLOGO: true
  NuGetDirectory: ${{ github.workspace }}/nuget

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.1xx

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Pack
        env:
          VERSION: ${{ github.event.release.tag_name }}
        run: dotnet pack --configuration Release --no-build --output ${{ env.NuGetDirectory }} -p:PackageVersion=${VERSION#v}

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Publish to NuGet.org
        run: dotnet nuget push ${{ env.NuGetDirectory }}/*.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key "${{ steps.login.outputs.NUGET_API_KEY }}"
